@font-face {
  font-family: narutoFont;
  src: url(/src/assets/fonts/njnaruto.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/imgs/naruto_game_4k_hd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #f1f1f1;
  font-family: narutoFont, "Poppins", sans-serif;
  text-decoration: none;
}

.toggle-bg-song {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 20px;
  cursor: pointer;
  padding: 6px;
  border: 1px solid black;
  background: #f87d23;
  transition: ease-in 0.2s;
}

.toggle-bg-song:hover {
  transform: scale(1.1);
}

.play-icon {
  width: 40px;
  height: 40px;
}
