@font-face {
  font-family: narutoFont;
  src: url(/src/assets/fonts/njnaruto.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/imgs/naruto_game_4k_hd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;  
  color: #f1f1f1;
  font-family: narutoFont, "Poppins", sans-serif;
  text-decoration: none;
}
