.scoreboard {
  width: 150px;
  padding: 48px 0px 0px 24px;
  color: black;
  font-size: 1.125rem;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.scoreboard-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
}
